        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand">Matthew Weston</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="https://mweston6288.github.io/index.html">
							About
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="https://mweston6288.github.io/portfolio.html">
							Portfolio
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="https://mweston6288.github.io/contact.html">
							Contact
						</a>
					</li>
				</ul>
			</div>
        </nav>
<header>EAT-DA-BORGER</header>
<div class = "separator">
  <h2>Your uneaten burgers!</h2>
  <ul>
    {{#each burgers}}
      {{#unless devoured}}
        {{>burgers/burger-block}}
      {{/unless}}
    {{/each}}
  </ul>
</div>

<div class = "separator">
  <h2>Your devoured burgers!</h2>

  <ul>
    {{#each burgers}}
      {{#if devoured}}
      <li class = "burger-list">{{burger_name}}</li>
      {{/if}}
    {{/each}}
  </ul>
</div>

<h2>Add a burger!</h2>

<form class = "create-form">
  <label for = "burgerName">Burger:</label>
  <input type = "text" id = "burgerName" name = "name">
  <button type = "submit">Add burger</button>
</form>


<button class = "delete">Clear your plate</button>

